nuxeo-retention-core/src/main/resources/schema/retention_config.xsd

<?xml version="1.0"?>
<xs:schema
	targetNamespace="http://www.nuxeo.org/ecm/schemas/retention_config/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/schemas/retention_config/">

	<xs:element name="delayDays" type="xs:integer" />
	<xs:element name="delayMonths" type="xs:integer" />
	<xs:element name="delayYears" type="xs:integer" />

	<xs:element name="durationDays" type="xs:integer" />
	<xs:element name="durationMonths" type="xs:integer" />
	<xs:element name="durationYears" type="xs:integer" />

</xs:schema>