nuxeo-retention-core/src/main/resources/schema/retention_rule.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/retention_rule/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/schemas/retention_rule/">

  <xs:complexType name="retention_rule_condition">
    <xs:sequence>
      <xs:element name="docType" type="xs:string" />
      <xs:element name="event" type="xs:string" />
      <xs:element name="lifeCycleState" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="rule_id" type="xs:string" />
  <xs:element name="begin_condition" type="nxs:retention_rule_condition" />
  <xs:element name="end_condition" type="nxs:retention_rule_condition" />
  <xs:element name="begin_delay" type="xs:string" />
  <xs:element name="begin_action" type="xs:string" />
  <xs:element name="end_action" type="xs:string" />
</xs:schema>